/*{
    outline: 1px solid red
}*/
.row{
    padding: 2%;
}
.left-block{
    background-color: white;
}
.submit-button{
    margin-top: 30px;
}       
.space-btwn-box{
    margin-right: 50px;
}    
.title-logo{
    padding-top: 5%;
    padding-bottom: 5%;
}
.book-image{
    margin-left: 30%;
    margin-top: 20%
}
.account-box{
    margin-top: 10%
}
.image-size{
    height: 80%;
}
.font-weight-title{
    font-weight: bold;
}
.sing-out-aling{
    margin-left: 5px;
}
.profile-align{
    margin-left: 37em;
}
.navbar-align{
    margin-right: 5px;
}
.card-separate{
    margin-right: 16px;
    margin-left: 18px;
}
.card-image-size{
    height: 12em;
    width: 11em;
}
.copyright{
    margin-right: 40em;
    font-weight: 100;
    font-style: italic;
}
.contact-footer{
    font-style: italic;
    font-weight: 100;
}
.text-feild-size{
    font-size: small;
    height: 1em;
}
.title-text-size{
    font-size: medium;
    font-weight: 400;
}
.row-footer{
    background-color: #007bff;
}
.table-margin{
    margin-left: 1em;
    margin-right: 30em;
}
.div-table{
    padding-left: 1em;
    padding-right: 3em;
}
.heading-align{
    margin-top: 1em;
    margin-left: 19em;
    margin-bottom: 1em;
    font-weight: 600;
}
.all-books-margin{
    margin-right: 13em;
}
.row-header{
    background-color: #007bff;
    height: 4em;
}
.borrowed-title{
    margin-left: 1em;
    padding-top: 1em;
    font-weight: 600;
}
.profile-drop-down{
    margin-left: 40em;
}